* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #141414;
  color: #fff;
}

.hero {
  min-height: 100vh;
  padding: 28px 22px 45px;
  background:
    linear-gradient(90deg, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.25) 48%, rgba(0,0,0,0.08) 100%),
    url("hero-cliente.png");
  background-size: cover;
  background-position: center right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.topo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  width: 120px;
}

.conteudo {
  max-width: 430px;
  margin-bottom: 40px;
}

.conteudo span {
  color: #ff1f1f;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.conteudo h1 {
  font-size: 48px;
  line-height: 0.98;
  margin: 18px 0;
  font-weight: 900;
  text-shadow: 0 4px 20px rgba(0,0,0,0.65);
}

.conteudo h1 strong {
  color: #ff1f1f;
}

.conteudo p {
  color: #f1f1f1;
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-shadow: 0 3px 12px rgba(0,0,0,0.7);
}

.atalhos {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.atalhos a {
  text-decoration: none;
  color: white;
  border: 1px solid #ff1f1f;
  border-radius: 12px;
  padding: 9px 12px;
  font-size: 13px;
  font-weight: bold;
  background: rgba(20,20,20,0.45);
  backdrop-filter: blur(6px);
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 17px;
  border-radius: 14px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 13px;
}

.zap {
  background: linear-gradient(135deg, #a10909, #ee2424);
  border: none;
}

.btn:not(.zap):not(.insta) {
  background: #222222;
  border: 1px solid #444444;
}

.insta {
  background: linear-gradient(135deg,#960101,#470101);
  border: none;
}

.servicos,
.galeria,
.sobre,
.unidades {
  padding: 48px 22px;
  text-align: center;
  background: #151515;
}

.galeria,
.unidades {
  background: #181818;
}

.sobre {
  background: #1c1c1c;
}

h2 {
  color: #ff1f1f;
  font-size: 28px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.grid div {
  background: linear-gradient(180deg, #242424, #171717);
  border: 1px solid #3a3a3a;
  border-radius: 18px;
  padding: 20px 12px;
  height: 190px;
  min-height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.grid i,
.grid img {
  color: #ff1f1f;
  width: 52px;
  height: 52px;
  object-fit: contain;
  font-size: 44px;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.grid h3 {
  font-size: 15px;
  margin-bottom: 8px;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid p {
  color: #d0d0d0;
  font-size: 13px;
  line-height: 1.4;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.fotos img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 16px;
}

.sobre p {
  max-width: 430px;
  margin: 0 auto;
  color: #e4e4e4;
  font-size: 15px;
  line-height: 1.6;
}

.unidades-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}

.unidade-card {
  display: block;
  text-decoration: none;
  color: white;
  background: #222;
  border: 1px solid #3a3a3a;
  border-radius: 18px;
  overflow: hidden;
}

.unidade-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
}

.unidade-card div {
  padding: 16px;
}

.unidade-card h3 {
  font-size: 17px;
  margin-bottom: 6px;
}

.unidade-card i {
  color: #ff1f1f;
  margin-right: 6px;
}

.unidade-card p {
  color: #cfcfcf;
  font-size: 13px;
}

/* CELULAR */
@media (max-width: 768px) {
  .hero {
    min-height: 100vh;
    padding: 24px 20px 35px;

    background:
      linear-gradient(90deg, rgba(0,0,0,0.18), rgba(0,0,0,0.08)),
      url("hero-cliente.png");

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    justify-content: flex-end;

    overflow: hidden;
    margin-bottom: 0;
}
  .topo {
    margin-bottom: 0;
  }

  .logo {
    width: 95px;
  }

  .conteudo {
    max-width: 100%;
    margin-bottom: 0;
    transform: translateY(80px);
    position: relative;
    z-index: 10;
  }

  .conteudo span {
    color: #ff1f1f;
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow:
      0 4px 8px rgba(0,0,0,0.8),
      0 8px 16px rgba(0,0,0,0.65);
  }

  .conteudo h1 {
    font-size: 28px;
    line-height: 1.05;
    margin: 6px 0 10px;
    max-width: 100%;
    text-shadow: 0 5px 25px rgba(0,0,0,0.85);
  }

  .conteudo {
    max-width: 100%;
    margin-bottom: 0;
    transform: translateY(40px);
}
  .atalhos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    width: 100%;
  }

  .atalhos a {
    text-align: center;
    padding: 10px 4px;
    font-size: 11px;
  }

  .btn {
    padding: 15px;
    margin-top: 12px;
  }

  .servicos,
  .galeria,
  .sobre,
  .unidades {
    padding: 42px 18px;
  }

 .servicos{
    margin-top: -250px;
    position: relative;
    z-index: 999;
    background: #151515;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .grid div {
    height: 180px;
    min-height: 180px;
    padding: 18px 10px;
  }

  .grid i,
  .grid img {
    width: 48px;
    height: 48px;
    font-size: 42px;
    margin-bottom: 10px;
  }

  .grid h3 {
    font-size: 14px;
    margin-bottom: 7px;
  }

  .grid p {
    font-size: 12px;
  }

  .fotos {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .fotos img {
    height: 150px;
    object-fit: cover;
  }
}
